.Navholder{
    width: 20%;
    height: 5vh;
    display: flex;
    margin: auto;
    margin-top: 20px;
}

.LinkElement{
    margin: auto;
    font-weight: 400;
    font-size: 20px;
    margin-right: 15px;
}

.LinkElement:focus{
    margin: auto;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}

