.Navholder{
    width: 78%;
    height: 5vh;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.LinkElement{
    font-weight: 400;
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
}

.LinkElement:hover{
    cursor: pointer;
    text-decoration: underline;
}

.LinkElement:focus{
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}

