.Background{
  flex-grow: 1;
  height: 175vh;
  display: flex;
  flex-direction: row;
}

.ContentColumn{
  width: 55vw;
  height: 175vh;
}

.LeftColumn, .RightColumn{
  height: auto;
  width:22.5vw;
}

.image{
  width: 22.5vw;
  height: 175vh;
}