.Background{
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.ContentColumn{
  background-color: rgb(255, 255, 255);
  width: 55vw;
  height: 100vh;
  margin: auto;
}